#map {
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  margin: 0;
  color: #444444;
  /* font-family: Palanquin; */
}
html{
  height: 100%;
  background-color: grey;
  font-size: 14px !important;
  font-family: 'Lato', sans-serif;
}
#menu{
	position: absolute;
	width: 340px;
	max-height: 96%;
	top: 0;
	left: 0.5rem;
	z-index: 1;
	overflow-y: scroll;
	padding-top: 1rem;
	overflow-x: hidden;
}
menu {
	padding: 0;
	margin: 0;
}
@media screen and (max-width: 600px) {
#map {
  height: 100%;
  width: 100%;
}
#menu{
	width: 100%;
	left: 0;
	top: 0;
	max-height: initial;
	margin: 0;
	padding-bottom: 0;
	position: relative;
}
#legende{
	display: none;
}
.settings > .row{
	margin-bottom: 0;
}
}


.titre{
	width: calc(100% - 2rem);
}
.title{
	text-transform: uppercase;
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	/* background-color: #00BCD4; */
}
.subtitle{
	font-size: 1.4rem;
	/* text-align: right; */
	margin-top: 0;
}
label[for=today]{
	color: rgba(0,0,0,0.87);
	color: #eeeeee;
}
.langues{
	position: absolute;
	top: 18px;
	right: 24px;
	font-size: 1.2rem;
	color: #37474f;
	cursor: pointer;
	width: 2.5rem;
	text-align: right;
	/* background-color: #EEEEEE; */
	padding: 0.5rem;
}
.langues div{
	position: relative;
}
.langues img{
	width: 1.5rem;
	position: absolute;
	transition: 0.3s;
	opacity: 0;
	left: 0;
}
.langues:hover{
	height: 6rem;
}
.langues:hover img{
	opacity: 1;
}
.selected{
	opacity: 1 !important;
}
#en{
	top: 0;
}
#pl{
	top: 0rem;
}
#fr{
	top: 0rem;
}
.langues:hover #en{

}
.langues:hover #pl{
	top: 2rem;
}
.langues:hover #fr{
	top: 4rem;
}
.settings{
	/* padding-bottom: 0.1rem; */
	padding-top: 1rem;
	position: relative;
}
.settings > .row{
	padding-bottom: 1rem;
}
#pricerow{
	margin-top: 1rem;
	left: 1rem;
}
#todayrow{
	margin-top: 0;
	margin-bottom: 2rem;
}

.background{
	/* background-color: #37474F; */
	position: absolute;
	top: 0;
	left: -30px;
	width: 700px;
	/* height: 100%; */
	z-index: -1;
}
#entete{
	top: 0;
	height: 8.5rem;
}
#parametres{
	height: calc(100%);
	background-color: #37474F;
}
[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after{
	border-color: #eeeeee;
}
[type="checkbox"]:checked+label:before{
	/* border-bottom-color: #00BCD4; */
	/* border-right-color: #00BCD4; */
}
.input-field label{
	color: #eeeeee;
}

.gm-style-iw{
	font-family: 'Lato', sans-serif;
}
